In [29]:
import pandas as pd

df = pd.read_csv('c:/pythonworkspace/multi/0810/data/data1.csv', encoding = 'cp949', header=3)
df.head()

     거래일자     제품명  제품군  브랜드     규격        단가   거래량  할인율         금액
0  01. 01      샘물   음료  미가랑  2L*12    8,500   42.0   3%   346,290
1  01. 02      샘물   음료  미가랑  2L*12    8,500   29.0  NaN   246,500
2  01. 03     디너롤  제빵류  미가랑    36개    5,800   56.0   5%   308,560
3  01. 04     디너롤  제빵류  미가랑    36개    5,800   68.0   5%   374,680
4  01. 05  신당동떡볶이  간식류  초록물    30봉   13,200   70.0  10%   831,600

In [ ]:
# df.pivot('제품군', '브랜드')

In [34]:
df = df.dropna(how="all")

In [32]:
df.isnull().sum()

거래일자     18
제품명      18
제품군      18
브랜드      18
규격       18
단가       18
거래량      18
할인율     107
금액       18
dtype: int64

In [35]:
df['금액'] = df['금액'].str.replace(',','').replace(' ', '')
df = df.astype({'금액':'int64'})
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 311 entries, 0 to 310
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   거래일자    311 non-null    object
 1   제품명     311 non-null    object
 2   제품군     311 non-null    object
 3   브랜드     311 non-null    object
 4   규격      311 non-null    object
 5   단가      311 non-null    object
 6   거래량     311 non-null    float64
 7   할인율     222 non-null    object
 8   금액      311 non-null    int64
dtypes: float64(1), int64(1), object(7)
memory usage: 24.3+ KB

C:\Users\김도연\AppData\Local\Temp/ipykernel_25288/1404923443.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['금액'] = df['금액'].str.replace(',','').replace(' ', '')

data.pivot_table(values=None, index = None, columns = None, aggfunc='mean', fill_value = None, margins = False, dropna = True, margins_name = 'ALL')

- index : index 색인으로 사용될 컬럼
- columns : column 색인으로 사용될 컬럼
- aggfunc : 데이터 축약시 사용할 함수 (mean, sum, count ...)
- margins : 행/열별 총합

In [36]:
df.pivot_table(values=['금액', '거래량'], index = '제품군', columns='브랜드', aggfunc=sum, margins=True)

        거래량                                 금액
브랜드    도도식품     미가랑     초록물      All      도도식품       미가랑       초록물        All
제품군
간식류  1098.0   425.0  1353.0   2876.0   8968340   1776690  13338290   24083320
음료    704.0  1121.0  1196.0   3021.0  18014860  15121920  16507710   49644490
제빵류  1072.0  1167.0  1278.0   3517.0   6334910   8872720  15641780   30849410
차류    938.0  3063.0   394.0   4395.0  20710610  45145210   4589970   70445790
All  3812.0  5776.0  4221.0  13809.0  54028720  70916540  50077750  175023010

In [37]:
df1 = df.pivot_table(values=['금액', '거래량'], index = '제품군', columns='브랜드', aggfunc=sum, margins=True)

In [38]:
df1

        거래량                                 금액
브랜드    도도식품     미가랑     초록물      All      도도식품       미가랑       초록물        All
제품군
간식류  1098.0   425.0  1353.0   2876.0   8968340   1776690  13338290   24083320
음료    704.0  1121.0  1196.0   3021.0  18014860  15121920  16507710   49644490
제빵류  1072.0  1167.0  1278.0   3517.0   6334910   8872720  15641780   30849410
차류    938.0  3063.0   394.0   4395.0  20710610  45145210   4589970   70445790
All  3812.0  5776.0  4221.0  13809.0  54028720  70916540  50077750  175023010

In [39]:
df1.xs('음료')

     브랜드
거래량  도도식품         704.0
     미가랑         1121.0
     초록물         1196.0
     All         3021.0
금액   도도식품    18014860.0
     미가랑     15121920.0
     초록물     16507710.0
     All     49644490.0
Name: 음료, dtype: float64

In [41]:
df1.loc['음료', ('거래량', '미가랑')]

1121.0